Admin/app/Ocorrencia/index.html

<div style="height:80px">
  <ng-include src="'/admin/app/common/pagination.html'"></ng-include>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Ocorrências</h3>
      </div>
      <div ng-if="loading" class="panel-body">
        <div ng-include="'/admin/app/common/loading.html'"></div>
      </div>
      <div ng-if="norecords" class="panel-body">
        <div ng-include="'/admin/app/common/norecords.html'"></div>
      </div>
      <table ng-if="!loading &amp;&amp; !norecords" class="table">
        <tr class="active">
          <th class="col-md-1">&nbsp;</th>
          <th>Programa</th>
          <th>Municipio</th>
          <th class="col-md-1">Início</th>
          <th class="col-md-1">Fim</th>
        </tr>
        <tr ng-repeat="item in Ocorrencias">
          <td>
            <div ng-if="permit(item)" class="btn-group">
              <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-default dropdown-toggle"><i class="fa fa-fw fa-gear"> </i><span class="caret"></span></button>
              <ul role="menu" class="dropdown-menu">
                <li><a href="" ng-click="edit(item)"> <i class="fa fa-fw fa-edit"></i>&nbsp;Editar</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="localizacoes(item)"> <i class="fa fa-fw fa-map-marker"></i>&nbsp; Localizações</a></li>
                <li><a href="" ng-click-"del(item)="ng-click-"del(item)"> <i class="fa fa-fw fa-close text-danger"></i>&nbsp; Excluir</a></li>
              </ul>
            </div>
          </td>
          <td>{{item.Programa.nome_oficial}}</td>
          <td>{{item.Municipio.nome}} - {{item.Municipio.Estado.sigla}}</td>
          <td>{{item.Ocorrencia.inicio_inscricoes | date:'dd/MM/yyyy'}}</td>
          <td>{{item.Ocorrencia.fim_inscricoes | date:'dd/MM/yyyy'}}</td>
        </tr>
      </table>
      <div class="panel-footer clearfix"><span class="pull-right"> <span ng-if="pagination.count &gt; 0">{{pagination.count}} registros - </span><span>Página {{pagination.page}} de {{pagination.pageCount}}</span></span></div>
    </div>
  </div>
  <div class="col-md-2">
    <div bs-affix="bs-affix" data-offset-top="85"><a ng-click="add()" tooltip="Nova Ocorrência" class="btn btn-block btn-default"><i class="fa fa-fw fa-file-o"></i>&nbsp; Nova Ocorrência</a>
      <hr/>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Filtros</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Programa</label>
            <input ng-model="filters.programa" class="form-control"/>
          </div>
          <div class="form-group">
            <label class="control-label">Município</label>
            <input ng-model="filters.municipio" class="form-control"/>
          </div>
          <div class="form-group">
            <label class="control-label">Data Inicial</label>
            <input ng-model="filters.data_inicial" class="form-control"/>
          </div>
          <div class="form-group">
            <label class="control-label">Data Final</label>
            <input ng-model="filters.data_final" class="form-control"/>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" ng-click="pesquisa()" class="btn btn-primary">OK</button>
          <button ng-if="filters" type="button" ng-click="pesquisaZerar()" class="btn btn-warning">Zerar</button>
        </div>
      </div>
    </div>
  </div>
</div>

Admin/app/Ocorrencia/index.jade
div(style={height: '80px'})
	ng-include(src="'/admin/app/common/pagination.html'")

.row
	.col-md-10
		.panel.panel-primary
			.panel-heading.clearfix
				h3.panel-title Ocorrências
			.panel-body(ng-if="loading")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading && !norecords")
				tr.active
					th.col-md-1 &nbsp;
					th Programa
					th Municipio
					th.col-md-1 Início
					th.col-md-1 Fim
				tr(ng-repeat="item in Ocorrencias")
					td
						.btn-group(ng-if="permit(item)")
							button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-expanded="false")
								i.fa.fa-fw.fa-gear 
								span.caret
							ul.dropdown-menu(role="menu")
								li
									a(href="",ng-click="edit(item)") 
										i.fa.fa-fw.fa-edit
										|&nbsp;Editar
								li.divider
								li
									a(href="",ng-click="localizacoes(item)") 
										i.fa.fa-fw.fa-map-marker
										|&nbsp; Localizações
								li
									a(href="",ng-click-"del(item)") 
										i.fa.fa-fw.fa-close.text-danger
										|&nbsp; Excluir
					td {{item.Programa.nome_oficial}}
					td {{item.Municipio.nome}} - {{item.Municipio.Estado.sigla}}
					td {{item.Ocorrencia.inicio_inscricoes | date:'dd/MM/yyyy'}}
					td {{item.Ocorrencia.fim_inscricoes | date:'dd/MM/yyyy'}}
			.panel-footer.clearfix
				span.pull-right 
					span(ng-if="pagination.count > 0") {{pagination.count}} registros - 
					span Página {{pagination.page}} de {{pagination.pageCount}}
	.col-md-2
		div(bs-affix, data-offset-top="85")
			a.btn.btn-block.btn-default(ng-click="add()",tooltip="Nova Ocorrência")
				i.fa.fa-fw.fa-file-o
				|&nbsp; Nova Ocorrência
			hr
			.panel.panel-success
				.panel-heading
					h3.panel-title Filtros
				.panel-body
					.form-group
						label.control-label Programa
						input.form-control(ng-model="filters.programa")
					.form-group
						label.control-label Município
						input.form-control(ng-model="filters.municipio")
					.form-group
						label.control-label Data Inicial
						input.form-control(ng-model="filters.data_inicial")
					.form-group
						label.control-label Data Final
						input.form-control(ng-model="filters.data_final")
				.panel-footer
					button.btn.btn-primary(type="button",ng-click="pesquisa()") OK
					button.btn.btn-warning(ng-if="filters", type="button",ng-click="pesquisaZerar()") Zerar
