Consulta/app/Programa/index.html

<div ng-include="'/app/common/pagination.html'"></div>
<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li ng-click="view(item)" ng-repeat="item in data.query" class="list-group-item">{{item.Programa.nome_oficial}}</li>
    </ul>
  </div>
  <div class="col-md-8">
    <div ng-if="data.item" class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Detalhes</h3>
      </div>
      <div class="panel-body justify">
        <h3>{{data.item.Programa.nome_divulgacao}}</h3><span ng-if="data.item.Programa.descricao">
          <div class="label label-primary">Descrição</div>
          <p ng-bind-html="data.item.Programa.descricao"></p></span><span ng-if="data.item.Programa.beneficios">
          <div class="label label-primary">Benefícios</div>
          <p ng-bind-html="data.item.Programa.beneficios"></p></span><span ng-if="data.item.Programa.publico_alvo">
          <div class="label label-primary">Público Alvo</div>
          <p ng-bind-html="data.item.Programa.publico_alvo"></p></span><span ng-if="data.item.Programa.objetivos">
          <div class="label label-primary">Objetivos</div>
          <p ng-bind-html="data.item.Programa.objetivos"></p></span>
      </div>
      <div class="panel-footer clearfix">
        <div class="btn btn-group pull-right"><a class="btn btn-default">Solicitar</a></div>
      </div>
    </div>
  </div>
</div>

Consulta/app/Programa/index.jade
div(ng-include="'/app/common/pagination.html'")
.row
	.col-md-4
		ul.list-group
			li.list-group-item(ng-click="view(item)",ng-repeat="item in data.query") {{item.Programa.nome_oficial}}
	.col-md-8
		.panel.panel-success(ng-if="data.item")
			.panel-heading
				h3.panel-title Detalhes
			.panel-body.justify
				h3 {{data.item.Programa.nome_divulgacao}}
				span(ng-if="data.item.Programa.descricao")
					.label.label-primary Descrição
					p(ng-bind-html="data.item.Programa.descricao")
				span(ng-if="data.item.Programa.beneficios")
					.label.label-primary Benefícios
					p(ng-bind-html="data.item.Programa.beneficios")
				span(ng-if="data.item.Programa.publico_alvo")
					.label.label-primary Público Alvo
					p(ng-bind-html="data.item.Programa.publico_alvo")
				span(ng-if="data.item.Programa.objetivos")
					.label.label-primary Objetivos
					p(ng-bind-html="data.item.Programa.objetivos")
			.panel-footer.clearfix
				.btn.btn-group.pull-right
						a.btn.btn-default Solicitar
