Admin/app/Tematica/form.html

<div class="content-header">
  <h3>Formulário Temática</h3>
</div>
<div class="content body">
  <div class="box box-primary">
    <div class="box-header"><span class="box-title">Temática</span></div>
    <form role="form" name="formTematica">{{TematicaFormCtrl.formTematica}}
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Nome</label>
              <input required="required" name="nome" ng-model="TematicaFormCtrl.form.nome" class="form-control"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Temática Pai</label>
              <select name="parent_id" ng-model="TematicaFormCtrl.form.parent_id" class="form-control"></select>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <div class="btn-group pull-right">
          <button class="btn btn-sm btn-primary">Salvar</button>
          <button class="btn btn-sm btn-default">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>

Admin/app/Tematica/form.jade
.content-header
	h3 Formulário Temática
.content.body
	.box.box-primary
		.box-header
			span.box-title Temática
		form(role="form", name="formTematica")
			|{{TematicaFormCtrl.formTematica}}
			.box-body
				.row
					.col-md-6
						.form-group
							label.control-label Nome
							input.form-control(required="required", name="nome", ng-model="TematicaFormCtrl.form.nome")
					.col-md-6
						.form-group
							label.control-label Temática Pai
							select.form-control(name="parent_id", ng-model="TematicaFormCtrl.form.parent_id")
			.box-footer
				.btn-group.pull-right
					button.btn.btn-sm.btn-primary Salvar
					button.btn.btn-sm.btn-default Cancelar
