Admin/app/Programa/form.jade
div(style={height: '80px'})

form.form(name="validation.formPrograma")
	.row
		.col-md-10
			.panel.panel-primary
				.panel-heading
					.panel-title Formulário
				.panel-body(ng-if="ProgramaFormCtrl.loading")
					ng-include(src="'/app/common/loading.html'")
				.panel-body(ng-if="ProgramaFormCtrl.saving")
					ng-include(src="'/app/common/saving.html'")
				.panel-body(ng-if="ProgramaFormCtrl.Form")
					tabset(vertical="false" type="pills")
						tab(heading="Básico")
							.row
								.col-md-4
									.form-group(ng-class="{'has-error':validation.formPrograma.sigla.$invalid}")
										label.control-label(for="sigla") Sigla
										input.form-control(required,ng-minlength="2",name="sigla",id="sigla",ng-model="ProgramaFormCtrl.Form.sigla")
										span.help-block(ng-if="validation.formPrograma.sigla.$error.required") Campo requerido!
										span.help-block(ng-if="validation.formPrograma.sigla.$error.minlength") Mínimo de 2 caracteres!
								.col-md-4
									.form-group(ng-class="{'has-error':validation.formPrograma.nome_oficial.$invalid}")
										label.control-label(for="nome_oficial") Nome Oficial
										input.form-control(required,ng-minlength="3",name="nome_oficial",id="nome_oficial",ng-model="ProgramaFormCtrl.Form.nome_oficial")
										span.help-block(ng-if="validation.formPrograma.nome_oficial.$error.required") Campo requerido!
										span.help-block(ng-if="validation.formPrograma.nome_oficial.$error.minlength") Mínimo de 3 caracteres!
								.col-md-4
									.form-group(ng-class="{'has-error':validation.formPrograma.nome_divulgacao.$invalid}")
										label.control-label(for="nome_divulgacao") Nome Divulgação
										input.form-control(required,ng-minlength="3",name="nome_divulgacao",id="nome_divulgacao",ng-model="ProgramaFormCtrl.Form.nome_divulgacao")
										span.help-block(ng-if="validation.formPrograma.nome_divulgacao.$error.required") Campo requerido!
										span.help-block(ng-if="validation.formPrograma.nome_divulgacao.$error.minlength") Mínimo de 3 caracteres!
							.row
								.col-md-3
									.form-group(ng-class="{'has-error':validation.formPrograma.temporalidade.$invalid}")
										label.control-label(for="data_inicio") Data Início
										input.form-control(type="date",name="data_inicio",id="data_inicio",ng-model="ProgramaFormCtrl.Form.data_inicio")
								.col-md-3
									.form-group(ng-class="{'has-error':validation.formPrograma.situacao.$invalid}")
										label.control-label(for="situacao") Situação
										select.form-control(required,name="situacao",id="situacao",ng-options="item.Situacao.id as item.Situacao.nome for item in related.Situacoes",ng-model="ProgramaFormCtrl.Form.situacao_id")
											option(value="") Selecione uma Situação 
										span.help-block(ng-if="validation.formPrograma.situacao.$error.required") Campo requerido!
								.col-md-3
									.form-group(ng-class="{'has-error':validation.formPrograma.status_id.$invalid}")
										label.control-label(for="status_id") Status
										select.form-control(required,name="status_id",id="status_id",ng-options="item.Status.id as item.Status.nome for item in related.Status",ng-model="ProgramaFormCtrl.Form.status_id")
											option(value="") Selecione um Status
										span.help-block(ng-if="validation.formPrograma.status_id.$error.required") Campo requerido!
								.col-md-3
									.form-group(ng-class="{'has-error':validation.formPrograma.temporalidade_id.$invalid}")
										label.control-label(for="temporalidade_id") Temporalidade
										select.form-control(required,name="temporalidade_id",id="temporalidade_id",ng-options="item.Temporalidade.id as item.Temporalidade.nome for item in related.Temporalidades",ng-model="ProgramaFormCtrl.Form.temporalidade_id")
											option(value="") Selecione a Temporalidade
										span.help-block(ng-if="validation.formPrograma.temporalidade_id.$error.required") Campo requerido!
							.row
								.col-md-6
									.form-group
										label.control-label(for="estado_id") Estado
										select.form-control(name="estado_id",id="estado_id",ng-options="item.Estado.id as item.Estado.nome for item in related.Estados",ng-model="ProgramaFormCtrl.Form.estado_id")
											option(value="") Selecione o Estado
								.col-md-6
									.form-group
										label.control-label(for="municipio_id") Município
										select.form-control(name="municipio_id",id="municipio_id",ng-options="item.Municipio.id as item.Municipio.nome for item in related.Municipios",ng-model="ProgramaFormCtrl.Form.municipio_id")
											option(value="") Selecione o Município
							.row
								.col-md-6
									.form-group(ng-class="{'has-error':validation.formPrograma.idade_minima.$invalid}")
										label.control-label(for="idade_minima") Idade mínima
										input.form-control(type="number",min="0",max="{{Form.idade_maxima}}",name="idade_minima",id="idade_minima",ng-model="ProgramaFormCtrl.Form.idade_minima")
										span.help-block(ng-if="validation.formPrograma.idade_minima.$error.required") Campo requerido!
										span.help-block(ng-if="validation.formPrograma.idade_minima.$error.max") Valor maior que idade máxima
								.col-md-6
									.form-group(ng-class="{'has-error':validation.formPrograma.idade_maxima.$invalid}")
										label.control-label(for="idade_maxima") Idade máxima
										input.form-control(type="number",min="{{Form.idade_minima}}",name="idade_maxima",id="idade_maxima",ng-model="ProgramaFormCtrl.Form.idade_maxima")
										span.help-block(ng-if="validation.formPrograma.idade_maxima.$error.required") Campo requerido!
										span.help-block(ng-if="validation.formPrograma.idade_maxima.$error.min") Valor menor que idade mínima
							.row
								.col-md-6
									.form-group(ng-class="{'has-error':validation.formPrograma.lei_criacao.$invalid}")
										label.control-label(for="lei_criacao") Lei de criação
										input.form-control(type="text",name="lei_criacao",id="lei_criacao",ng-model="ProgramaFormCtrl.Form.lei_criacao")
								.col-md-6
									.form-group(ng-class="{'has-error':validation.formPrograma.nivel.$invalid}")
										label.control-label(for="nivel") Nível
										input.form-control(type="text",name="nivel",id="nivel",ng-model="ProgramaFormCtrl.Form.nivel")
							.row
								.col-md-6
									.form-group(ng-class="{'has-error':validation.formPrograma.parceiros.$invalid}")
										label.control-label(for="parceiros") Parceiros
										input.form-control(type="text",name="parceiros",id="parceiros",ng-model="ProgramaFormCtrl.Form.parceiros")
								.col-md-6
									.form-group(ng-class="{'has-error':validation.formPrograma.publico_alvo.$invalid}")
										label.control-label(for="publico_alvo") Público Alvo
										input.form-control(required, type="text",name="publico_alvo",id="publico_alvo",ng-model="ProgramaFormCtrl.Form.publico_alvo")
										span.help-block(ng-if="validation.formPrograma.publico_alvo.$error.required") Campo requerido!
						tab(heading="Textos")
							.row
								.col-md-12
									.form-group(ng-class="{'has-error':validation.formPrograma.beneficios.$invalid}")
										label.control-label(for="beneficios") Benefícios
										textarea(ng-wig="Form.beneficios",ng-model="ProgramaFormCtrl.Form.beneficios",rows="4",required,name="beneficios",id="beneficios")
										span.help-block(ng-if="validation.formPrograma.beneficios.$error.required") Campo requerido!
							.row
								.col-md-12
									.form-group(ng-class="{'has-error':validation.formPrograma.criterios_acesso.$invalid}")
										label.control-label(for="criterios_acesso") Critérios de Acesso
										textarea(ng-wig="Form.criterios_acesso",ng-model="ProgramaFormCtrl.Form.criterios_acesso",rows="4",required,name="criterios_acesso",id="criterios_acesso")
										span.help-block(ng-if="validation.formPrograma.criterios_acesso.$error.required") Campo requerido!
							.row
								.col-md-12
									.form-group(ng-class="{'has-error':validation.formPrograma.descricao.$invalid}")
										label.control-label(for="descricao") Descrição
										textarea(ng-wig="Form.descricao",ng-model="ProgramaFormCtrl.Form.descricao",rows="4",required,name="descricao",id="descricao")
										span.help-block(ng-if="validation.formPrograma.descricao.$error.required") Campo requerido!
							.row
								.col-md-12
									.form-group(ng-class="{'has-error':validation.formPrograma.duracao.$invalid}")
										label.control-label(for="duracao") Duração
										textarea(ng-wig="Form.duracao",ng-model="ProgramaFormCtrl.Form.duracao",rows="4",required,name="duracao",id="duracao")
										span.help-block(ng-if="validation.formPrograma.duracao.$error.required") Campo requerido!
							.row
								.col-md-12
									.form-group(ng-class="{'has-error':validation.formPrograma.objetivos.$invalid}")
										label.control-label(for="objetivos") Objetivos
										textarea(ng-wig="Form.objetivos",ng-model="ProgramaFormCtrl.Form.objetivos",rows="4",required,name="objetivos",id="objetivos")
										span.help-block(ng-if="validation.formPrograma.objetivos.$error.required") Campo requerido!
							.row
								.col-md-12
									.form-group(ng-class="{'has-error':validation.formPrograma.observacao.$invalid}")
										label.control-label(for="observacao") Observação
										textarea(ng-wig="Form.observacao",name="observacao",id="observacao",ng-model="ProgramaFormCtrl.Form.observacao")
		.col-md-2
			div(bs-affix, data-offset-top="85")
				button.btn.btn-block.btn-primary(tooltip="Salvar", ng-click="save()", ng-disabled="validation.formPrograma.$invalid") Salvar
				button.btn.btn-block.btn-primary(tooltip="Cancelar", ng-click="cancel()") Cancelar

Admin/app/Programa/form.html

<div style="height:80px"></div>
<form name="validation.formPrograma" class="form">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">Formulário</div>
        </div>
        <div ng-if="ProgramaFormCtrl.loading" class="panel-body">
          <ng-include src="'/app/common/loading.html'"></ng-include>
        </div>
        <div ng-if="ProgramaFormCtrl.saving" class="panel-body">
          <ng-include src="'/app/common/saving.html'"></ng-include>
        </div>
        <div ng-if="ProgramaFormCtrl.Form" class="panel-body">
          <tabset vertical="false" type="pills">
            <tab heading="Básico">
              <div class="row">
                <div class="col-md-4">
                  <div ng-class="{'has-error':validation.formPrograma.sigla.$invalid}" class="form-group">
                    <label for="sigla" class="control-label">Sigla</label>
                    <input required="required" ng-minlength="2" name="sigla" id="sigla" ng-model="ProgramaFormCtrl.Form.sigla" class="form-control"/><span ng-if="validation.formPrograma.sigla.$error.required" class="help-block">Campo requerido!</span><span ng-if="validation.formPrograma.sigla.$error.minlength" class="help-block">Mínimo de 2 caracteres!</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div ng-class="{'has-error':validation.formPrograma.nome_oficial.$invalid}" class="form-group">
                    <label for="nome_oficial" class="control-label">Nome Oficial</label>
                    <input required="required" ng-minlength="3" name="nome_oficial" id="nome_oficial" ng-model="ProgramaFormCtrl.Form.nome_oficial" class="form-control"/><span ng-if="validation.formPrograma.nome_oficial.$error.required" class="help-block">Campo requerido!</span><span ng-if="validation.formPrograma.nome_oficial.$error.minlength" class="help-block">Mínimo de 3 caracteres!</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div ng-class="{'has-error':validation.formPrograma.nome_divulgacao.$invalid}" class="form-group">
                    <label for="nome_divulgacao" class="control-label">Nome Divulgação</label>
                    <input required="required" ng-minlength="3" name="nome_divulgacao" id="nome_divulgacao" ng-model="ProgramaFormCtrl.Form.nome_divulgacao" class="form-control"/><span ng-if="validation.formPrograma.nome_divulgacao.$error.required" class="help-block">Campo requerido!</span><span ng-if="validation.formPrograma.nome_divulgacao.$error.minlength" class="help-block">Mínimo de 3 caracteres!</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div ng-class="{'has-error':validation.formPrograma.temporalidade.$invalid}" class="form-group">
                    <label for="data_inicio" class="control-label">Data Início</label>
                    <input type="date" name="data_inicio" id="data_inicio" ng-model="ProgramaFormCtrl.Form.data_inicio" class="form-control"/>
                  </div>
                </div>
                <div class="col-md-3">
                  <div ng-class="{'has-error':validation.formPrograma.situacao.$invalid}" class="form-group">
                    <label for="situacao" class="control-label">Situação</label>
                    <select required="required" name="situacao" id="situacao" ng-options="item.Situacao.id as item.Situacao.nome for item in related.Situacoes" ng-model="ProgramaFormCtrl.Form.situacao_id" class="form-control">
                      <option value="">Selecione uma Situação </option>
                    </select><span ng-if="validation.formPrograma.situacao.$error.required" class="help-block">Campo requerido!</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div ng-class="{'has-error':validation.formPrograma.status_id.$invalid}" class="form-group">
                    <label for="status_id" class="control-label">Status</label>
                    <select required="required" name="status_id" id="status_id" ng-options="item.Status.id as item.Status.nome for item in related.Status" ng-model="ProgramaFormCtrl.Form.status_id" class="form-control">
                      <option value="">Selecione um Status</option>
                    </select><span ng-if="validation.formPrograma.status_id.$error.required" class="help-block">Campo requerido!</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div ng-class="{'has-error':validation.formPrograma.temporalidade_id.$invalid}" class="form-group">
                    <label for="temporalidade_id" class="control-label">Temporalidade</label>
                    <select required="required" name="temporalidade_id" id="temporalidade_id" ng-options="item.Temporalidade.id as item.Temporalidade.nome for item in related.Temporalidades" ng-model="ProgramaFormCtrl.Form.temporalidade_id" class="form-control">
                      <option value="">Selecione a Temporalidade</option>
                    </select><span ng-if="validation.formPrograma.temporalidade_id.$error.required" class="help-block">Campo requerido!</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="estado_id" class="control-label">Estado</label>
                    <select name="estado_id" id="estado_id" ng-options="item.Estado.id as item.Estado.nome for item in related.Estados" ng-model="ProgramaFormCtrl.Form.estado_id" class="form-control">
                      <option value="">Selecione o Estado</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="municipio_id" class="control-label">Município</label>
                    <select name="municipio_id" id="municipio_id" ng-options="item.Municipio.id as item.Municipio.nome for item in related.Municipios" ng-model="ProgramaFormCtrl.Form.municipio_id" class="form-control">
                      <option value="">Selecione o Município</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div ng-class="{'has-error':validation.formPrograma.idade_minima.$invalid}" class="form-group">
                    <label for="idade_minima" class="control-label">Idade mínima</label>
                    <input type="number" min="0" max="{{Form.idade_maxima}}" name="idade_minima" id="idade_minima" ng-model="ProgramaFormCtrl.Form.idade_minima" class="form-control"/><span ng-if="validation.formPrograma.idade_minima.$error.required" class="help-block">Campo requerido!</span><span ng-if="validation.formPrograma.idade_minima.$error.max" class="help-block">Valor maior que idade máxima</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div ng-class="{'has-error':validation.formPrograma.idade_maxima.$invalid}" class="form-group">
                    <label for="idade_maxima" class="control-label">Idade máxima</label>
                    <input type="number" min="{{Form.idade_minima}}" name="idade_maxima" id="idade_maxima" ng-model="ProgramaFormCtrl.Form.idade_maxima" class="form-control"/><span ng-if="validation.formPrograma.idade_maxima.$error.required" class="help-block">Campo requerido!</span><span ng-if="validation.formPrograma.idade_maxima.$error.min" class="help-block">Valor menor que idade mínima</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div ng-class="{'has-error':validation.formPrograma.lei_criacao.$invalid}" class="form-group">
                    <label for="lei_criacao" class="control-label">Lei de criação</label>
                    <input type="text" name="lei_criacao" id="lei_criacao" ng-model="ProgramaFormCtrl.Form.lei_criacao" class="form-control"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div ng-class="{'has-error':validation.formPrograma.nivel.$invalid}" class="form-group">
                    <label for="nivel" class="control-label">Nível</label>
                    <input type="text" name="nivel" id="nivel" ng-model="ProgramaFormCtrl.Form.nivel" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div ng-class="{'has-error':validation.formPrograma.parceiros.$invalid}" class="form-group">
                    <label for="parceiros" class="control-label">Parceiros</label>
                    <input type="text" name="parceiros" id="parceiros" ng-model="ProgramaFormCtrl.Form.parceiros" class="form-control"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div ng-class="{'has-error':validation.formPrograma.publico_alvo.$invalid}" class="form-group">
                    <label for="publico_alvo" class="control-label">Público Alvo</label>
                    <input required="required" type="text" name="publico_alvo" id="publico_alvo" ng-model="ProgramaFormCtrl.Form.publico_alvo" class="form-control"/><span ng-if="validation.formPrograma.publico_alvo.$error.required" class="help-block">Campo requerido!</span>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Textos">
              <div class="row">
                <div class="col-md-12">
                  <div ng-class="{'has-error':validation.formPrograma.beneficios.$invalid}" class="form-group">
                    <label for="beneficios" class="control-label">Benefícios</label>
                    <textarea ng-wig="Form.beneficios" ng-model="ProgramaFormCtrl.Form.beneficios" rows="4" required="required" name="beneficios" id="beneficios"></textarea><span ng-if="validation.formPrograma.beneficios.$error.required" class="help-block">Campo requerido!</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div ng-class="{'has-error':validation.formPrograma.criterios_acesso.$invalid}" class="form-group">
                    <label for="criterios_acesso" class="control-label">Critérios de Acesso</label>
                    <textarea ng-wig="Form.criterios_acesso" ng-model="ProgramaFormCtrl.Form.criterios_acesso" rows="4" required="required" name="criterios_acesso" id="criterios_acesso"></textarea><span ng-if="validation.formPrograma.criterios_acesso.$error.required" class="help-block">Campo requerido!</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div ng-class="{'has-error':validation.formPrograma.descricao.$invalid}" class="form-group">
                    <label for="descricao" class="control-label">Descrição</label>
                    <textarea ng-wig="Form.descricao" ng-model="ProgramaFormCtrl.Form.descricao" rows="4" required="required" name="descricao" id="descricao"></textarea><span ng-if="validation.formPrograma.descricao.$error.required" class="help-block">Campo requerido!</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div ng-class="{'has-error':validation.formPrograma.duracao.$invalid}" class="form-group">
                    <label for="duracao" class="control-label">Duração</label>
                    <textarea ng-wig="Form.duracao" ng-model="ProgramaFormCtrl.Form.duracao" rows="4" required="required" name="duracao" id="duracao"></textarea><span ng-if="validation.formPrograma.duracao.$error.required" class="help-block">Campo requerido!</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div ng-class="{'has-error':validation.formPrograma.objetivos.$invalid}" class="form-group">
                    <label for="objetivos" class="control-label">Objetivos</label>
                    <textarea ng-wig="Form.objetivos" ng-model="ProgramaFormCtrl.Form.objetivos" rows="4" required="required" name="objetivos" id="objetivos"></textarea><span ng-if="validation.formPrograma.objetivos.$error.required" class="help-block">Campo requerido!</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div ng-class="{'has-error':validation.formPrograma.observacao.$invalid}" class="form-group">
                    <label for="observacao" class="control-label">Observação</label>
                    <textarea ng-wig="Form.observacao" name="observacao" id="observacao" ng-model="ProgramaFormCtrl.Form.observacao"></textarea>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div bs-affix="bs-affix" data-offset-top="85">
        <button tooltip="Salvar" ng-click="save()" ng-disabled="validation.formPrograma.$invalid" class="btn btn-block btn-primary">Salvar</button>
        <button tooltip="Cancelar" ng-click="cancel()" class="btn btn-block btn-primary">Cancelar</button>
      </div>
    </div>
  </div>
</form>
