Consulta/app/GMaps/search.jade
.panel.panel-primary(style="margin-top:5px;margin-right:5px;")
	.panel-heading
		h3.panel-title Busca
	.panel-body
		select.form-control(ng-model="GMS.search.estado_id", ng-options="item.id as item.nome for item in GMS.data.estados")
			option(value="") Todos os Estados
		select.form-control(ng-if="GMS.search.estado_id != null",ng-model="GMS.search.municipio_id", ng-options="item.id as item.nome for item in GMS.data.municipios")
			option(value="") Todos os Municípios

Consulta/app/GMaps/search.html

<div style="margin-top:5px;margin-right:5px;" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Busca</h3>
  </div>
  <div class="panel-body">
    <select ng-model="GMS.search.estado_id" ng-options="item.id as item.nome for item in GMS.data.estados" class="form-control">
      <option value="">Todos os Estados</option>
    </select>
    <select ng-if="GMS.search.estado_id != null" ng-model="GMS.search.municipio_id" ng-options="item.id as item.nome for item in GMS.data.municipios" class="form-control">
      <option value="">Todos os Municípios</option>
    </select>
  </div>
</div>
