Admin/app/Jovem/index.jade
div(style={height: '80px'})
	ng-include(src="'/admin/app/common/pagination.html'")

.row
	.col-md-10
		.panel.panel-primary
			.panel-heading.clearfix
				h3.panel-title Estados
				
			.panel-body(ng-if="loading")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading && !norecords")
				tr.active
					th.col-md-2 &nbsp;
					th.col-md-1 Sigla
					th.col-md-8 Nome
					th.col-md-1 Municípios
				tr(ng-repeat="item in Estados")
					td
						.btn-group
							a.btn.btn-default(ng-click="edit(item)",tooltip="Editar")
								i.fa.fa-2x.fa-pencil
							a.btn.btn-default(ng-click="del(item)",tooltip="Excluir")
								i.fa.fa-2x.fa-trash
					td {{item.Estado.sigla }}
					td {{item.Estado.nome}}
					td {{item.Municipio.length}}
			.panel-footer.clearfix
				span.pull-left Página {{pagination.page}} de {{pagination.pageCount}}
				span.pull-right {{pagination.count}} registros
	.col-md-2
		div(bs-affix, data-offset-top="85")
			a.btn.btn-block.btn-default(ng-click="add()",tooltip="Novo Órgão Executor") Novo Estado
			hr
			.panel.panel-success
				.panel-heading
					h3.panel-title Filtros
				.panel-body
					.form-group
						label.control-label Nome
						input.form-control(ng-model="filters.nome")
				.panel-footer
					button.btn.btn-primary(type="button",ng-click="pesquisa()") OK
					button.btn.btn-warning(ng-if="filters", type="button",ng-click="pesquisaZerar()") Zerar

Admin/app/Jovem/index.html

<div style="height:80px">
  <ng-include src="'/admin/app/common/pagination.html'"></ng-include>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Estados</h3>
      </div>
      <div ng-if="loading" class="panel-body">
        <div ng-include="'/admin/app/common/loading.html'"></div>
      </div>
      <div ng-if="norecords" class="panel-body">
        <div ng-include="'/admin/app/common/norecords.html'"></div>
      </div>
      <table ng-if="!loading &amp;&amp; !norecords" class="table">
        <tr class="active">
          <th class="col-md-2">&nbsp;</th>
          <th class="col-md-1">Sigla</th>
          <th class="col-md-8">Nome</th>
          <th class="col-md-1">Municípios</th>
        </tr>
        <tr ng-repeat="item in Estados">
          <td>
            <div class="btn-group"><a ng-click="edit(item)" tooltip="Editar" class="btn btn-default"><i class="fa fa-2x fa-pencil"></i></a><a ng-click="del(item)" tooltip="Excluir" class="btn btn-default"><i class="fa fa-2x fa-trash"></i></a></div>
          </td>
          <td>{{item.Estado.sigla }}</td>
          <td>{{item.Estado.nome}}</td>
          <td>{{item.Municipio.length}}</td>
        </tr>
      </table>
      <div class="panel-footer clearfix"><span class="pull-left">Página {{pagination.page}} de {{pagination.pageCount}}</span><span class="pull-right">{{pagination.count}} registros</span></div>
    </div>
  </div>
  <div class="col-md-2">
    <div bs-affix="bs-affix" data-offset-top="85"><a ng-click="add()" tooltip="Novo Órgão Executor" class="btn btn-block btn-default">Novo Estado</a>
      <hr/>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Filtros</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Nome</label>
            <input ng-model="filters.nome" class="form-control"/>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" ng-click="pesquisa()" class="btn btn-primary">OK</button>
          <button ng-if="filters" type="button" ng-click="pesquisaZerar()" class="btn btn-warning">Zerar</button>
        </div>
      </div>
    </div>
  </div>
</div>
