Admin/app/Usuario/form.html

<div style="height:80px"></div>
<form name="UsuarioForm" ng-submit="save()" novalidate="novalidate" class="form">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Formulário</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div ng-class="{'has-error':UsuarioForm.nome.$invalid &amp;&amp; UsuarioForm.nome.$dirty}" class="form-group">
                <label class="control-label">Nome</label>
                <input ng-minlength="5" required="true" name="nome" ng-model="Form.nome" placeholder="Nome da Usuário" class="form-control"/><span ng-if="UsuarioForm.nome.$error.minlength" class="help-block">Mais de 5 caracteres</span>
              </div>
            </div>
            <div class="col-md-6">
              <div ng-class="{'has-error':UsuarioForm.grupo_id.$invalid}" class="form-group">
                <label class="control-label">Grupo</label>
                <select required="true" name="grupo_id" ng-model="Form.grupo_id" ng-options="item.Grupo.id as item.Grupo.nome for item in Grupos" class="form-control">
                  <option value="">Selecione um Grupo</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div ng-class="{'has-error':UsuarioForm.email.$invalid}" class="form-group">
                <label class="control-label">Email</label>
                <input type="email" name="email" ng-model="Form.email" placeholder="Email do Usuário" class="form-control"/><span ng-if="UsuarioForm.email.$error.email" class="help-block">Email inválido</span>
              </div>
            </div>
            <div class="col-md-6">
              <div ng-class="{'has-error':UsuarioForm.login.$invalid &amp;&amp; UsuarioForm.login.$dirty}" class="form-group">
                <label class="control-label">Login</label>
                <input ng-minlength="5" required="true" name="login" ng-model="Form.login" placeholder="Login do Usuário" class="form-control"/><span ng-if="UsuarioForm.login.$error.minlength" class="help-block">Mais de 5 caracteres</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Estado</label>
                <select name="estado_id" ng-model="Form.estado_id" ng-options="item.Estado.id as item.Estado.nome for item in Estados" class="form-control">
                  <option value="">Nenhum Estado</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Municipio</label>
                <select name="municipio_id" ng-model="Form.municipio_id" ng-options="item.Municipio.id as item.Municipio.nome for item in Municipios" class="form-control">
                  <option value="">Nenhum Município</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div ng-class="{'has-error':UsuarioForm.senha1.$invalid}" class="form-group">
                <label class="control-label">Senha</label>
                <input required="required" type="password" name="senha1" ng-model="Form.senha1" class="form-control"/>
              </div>
            </div>
            <div class="col-md-6">
              <div ng-class="{'has-error':UsuarioForm.senha2.$invalid}" class="form-group">
                <label class="control-label">Confirme a Senha</label>
                <input required="required" ,type="password" name="senha2" ng-model="Form.senha2" class="form-control"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button ng-disabled="UsuarioForm.$invalid" type="submit" class="btn btn-block btn-default">Salvar</button>
      <button ng-click="cancel()" type="button" class="btn btn-block btn-default">Cancelar</button>
    </div>
  </div>
</form>

Admin/app/Usuario/form.jade
div(style={height: '80px'})

form.form(name="UsuarioForm",ng-submit="save()",novalidate)
	.row
		.col-md-10
			.panel.panel-primary
				.panel-heading
					h3.panel-title Formulário
				.panel-body
					.row
						.col-md-6
							.form-group(ng-class="{'has-error':UsuarioForm.nome.$invalid && UsuarioForm.nome.$dirty}")
								label.control-label Nome
								input.form-control(ng-minlength="5", required="true", name="nome",ng-model="Form.nome",placeholder="Nome da Usuário")
								span(class="help-block",ng-if="UsuarioForm.nome.$error.minlength") Mais de 5 caracteres
						.col-md-6
							.form-group(ng-class="{'has-error':UsuarioForm.grupo_id.$invalid}")
								label.control-label Grupo
								select.form-control(required="true", name="grupo_id",ng-model="Form.grupo_id",ng-options="item.Grupo.id as item.Grupo.nome for item in Grupos")
									option(value="") Selecione um Grupo
					.row
						.col-md-6
							.form-group(ng-class="{'has-error':UsuarioForm.email.$invalid}")
								label.control-label Email
								input.form-control(type="email", name="email",ng-model="Form.email",placeholder="Email do Usuário")
								span(class="help-block",ng-if="UsuarioForm.email.$error.email") Email inválido
						.col-md-6
							.form-group(ng-class="{'has-error':UsuarioForm.login.$invalid && UsuarioForm.login.$dirty}")
								label.control-label Login
								input.form-control(ng-minlength="5", required="true", name="login",ng-model="Form.login",placeholder="Login do Usuário")
								span(class="help-block",ng-if="UsuarioForm.login.$error.minlength") Mais de 5 caracteres
					.row
						.col-md-6
							.form-group
								label.control-label Estado
								select.form-control(name="estado_id",ng-model="Form.estado_id",ng-options="item.Estado.id as item.Estado.nome for item in Estados")
									option(value="") Nenhum Estado
						.col-md-6
							.form-group
								label.control-label Municipio
								select.form-control(name="municipio_id",ng-model="Form.municipio_id",ng-options="item.Municipio.id as item.Municipio.nome for item in Municipios")
									option(value="") Nenhum Município
					.row
						.col-md-6
							.form-group(ng-class="{'has-error':UsuarioForm.senha1.$invalid}")
								label.control-label Senha
								input.form-control(required,type="password",name="senha1",ng-model="Form.senha1")
						.col-md-6
							.form-group(ng-class="{'has-error':UsuarioForm.senha2.$invalid}")
								label.control-label Confirme a Senha
								input.form-control(required,,type="password",name="senha2",ng-model="Form.senha2")
		.col-md-2
			button.btn.btn-block.btn-default(ng-disabled="UsuarioForm.$invalid",type="submit") Salvar
			button.btn.btn-block.btn-default(ng-click="cancel()",type="button") Cancelar
