Admin/app/Home/index.html

<div class="content-header">Home</div>
<div class="content body">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Ocorrências Finalizando</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Programa</th>
              <th>Município</th>
              <th>Fim</th>
            </tr>
            <tr ng-repeat="item in OcorrenciasFim">
              <td>{{item.Programa.nome_divulgacao}}</td>
              <td>{{item.Municipio.nome}} / {{item.Municipio.Estado.sigla}}</td>
              <td>{{item.Ocorrencia.fim_inscricoes|date:'dd/MM/y'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Temáticas mais acessadas</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Temática</th>
              <th>Quantidade</th>
            </tr>
            <tr ng-repeat="item in Contadores">
              <td>{{item.Tematica.nome}}</td>
              <td>{{item.Contador.count}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Programas mais procurados</h3>
        </div>
        <div class="panel-body">Teste</div>
      </div>
    </div>
  </div>
</div>

Admin/app/Home/index.jade
.content-header
	|Home
.content.body
	.row
		.col-md-4
			.panel.panel-warning
				.panel-heading
					h3.panel-title Ocorrências Finalizando
				.panel-body
					table.table
						tr
							th Programa
							th Município
							th Fim
						tr(ng-repeat="item in OcorrenciasFim")
							td {{item.Programa.nome_divulgacao}}
							td {{item.Municipio.nome}} / {{item.Municipio.Estado.sigla}}
							td {{item.Ocorrencia.fim_inscricoes|date:'dd/MM/y'}}
		.col-md-4
			.panel.panel-info
				.panel-heading
					h3.panel-title Temáticas mais acessadas
				.panel-body
					table.table
						tr
							th Temática
							th Quantidade
						tr(ng-repeat="item in Contadores")
							td {{item.Tematica.nome}}
							td {{item.Contador.count}}
		.col-md-4
			.panel.panel-success
				.panel-heading
					h3.panel-title Programas mais procurados
				.panel-body
					| Teste
