Admin/app/common/header.html

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Estação</a>
    </div>
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/programas">Programas <span class="sr-only">(current)</span></a></li>
        <li><a href="#/orgaos">Órgãos Executores</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/mensagem">{{home.userInfo}} Mensagens</a></li>
        <li><a href="#/admin">Admin</a></li>
        <li><a href="#/seguranca">Segurança</a></li>
        <li>
          <button ng-click="authCtrl.showLogin()" class="navbar-btn btn btn-primary">Login</button>
        </li>
        <li><a href="#">12:00</a></li>
      </ul>
    </div>
  </div>
</nav>

Admin/app/common/header.jade
nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid

		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#') Estação

		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href='#/programas')
						| Programas 
						span.sr-only (current)
				li
					a(href='#/orgaos') Órgãos Executores
			ul.nav.navbar-nav.navbar-right
				li
					a(href='#/mensagem') {{home.userInfo}} Mensagens
				li
					a(href='#/admin') Admin
				li
					a(href='#/seguranca') Segurança
				li
					button.navbar-btn.btn.btn-primary(ng-click="authCtrl.showLogin()") Login
				li
					a(href='#') 12:00
