Admin/app/common/loading.jade
//
	Template que mostra uma animação ao carregar algum dado
.row
	.col-md-4.col-md-offset-4
		| Carregando...
		.progress.progress-striped
			.progress-bar.active(role="progressbar", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100", style="width: 100%")
				span.sr-only Carregando...

Admin/app/common/loading.html

<!--Template que mostra uma animação ao carregar algum dado
-->
<div class="row">
  <div class="col-md-4 col-md-offset-4">Carregando...
    <div class="progress progress-striped">
      <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%" class="progress-bar active"><span class="sr-only">Carregando...</span></div>
    </div>
  </div>
</div>
